doctype html
html
  head
    title='Responsive Menu'
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    link(href='style.css',rel='stylesheet')
  body
    header
      .nav-row
        .header-row
          .logo
            a(href='index.html') logo
          button#nav-button(href='#nav-list')
            .stripe
            .stripe
            .stripe
        nav.main-navigation
          ul#nav-list
            li
              a(href='index.html') Home
            li
              a(href='news.html') News
            li
              a(href='about.html') About
            li
              a(href='contact.html') Contact
      .search-row
        form.search-form
          input(type='text',name='search')
          button(type='submit',name='submit') search
    .feature
      h1 There is a new thing in town...
    main
      .container
        .row
          .column
            h3 Super Duper
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu
          .column
            h3 Duis sagittis ipsum
            p Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    footer
    script(src='jquery-3.1.1.min.js')
    script(src='main.js')
