doctype html
html
  head
    title='Responsive Menu'
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    link(href='style.css',rel='stylesheet')
  body
    header
      .logo logo
      nav.main-navigation
        ul.nav-list
          li
            a(href='index.html') Home
    main
    footer
    script(src='jquery-3.1.1.min.js')
    script(src='main.js')
